.mainNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer h1 {
  font-size: 28px;
  margin-left: 5px;
}
.linkStyle {
  display: inline-block;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 450px) {
  .mainNavbar {
    padding: 10px 5px;
  }
  .logoContainer h1 {
    font-size: 20px;
    margin-left: 2px;
  }
  .linkStyle {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    padding: 5px 8px;
    font-size: 14px;
  }
}
