.mainNavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101c43;
  padding: 15px;
  color: #fff;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoContainer h1 {
  font-size: 28px;
  margin-left: 5px;
}
.linkStyle{
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
}
